*{
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    margin: 0;
    padding: 24px 16px;
    overflow-x: hidden;
}

#home_btn{
    cursor:pointer;
    padding: 1% 1.5%;
    color: red;
    background-color: blue;
    border: 0.1rem solid red;
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;
    border-radius:20%;
    
}